*{
    box-sizing: border-box;
}
body{
    background-color: rosybrown;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 25px;
}
